.App {
  text-align: center;
}

.main{
  display: flex;
}

.main-detail{
  border: 1px solid #c0965e;
  margin-right: 20px;
  margin-left: 20px;
  height: 91vh;
  background-color: white;
}

.recherche{
  height: 6vh;
  margin-bottom: 1vh;
  margin-top: 1vh;
  max-width: 350px;
  margin-left: 2px;
  margin-right: 2px;
 background-color: white;
}

.box-detailFilms{
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: -30px;
}

.description-detail{
  width: 60%; 
  display: block;
 margin: 0px auto;
 border-top: 1px dashed #ccc!important;
 margin-top:20px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}

.affiche-detail{
  width: 70%; 
  border-radius: 14px;
  display: block;
  margin: 10px auto;
}

.listeFilms{
  display: flex;
  background-color: #f8f9f9;
}

.liste-films{
  background-color: #f8f9f9;
}

.liste{
  margin-right: 10px;
  margin-left: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
